html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    
}

html {
	font: 100% arial, helvetica, sans-serif;
	line-height: 1;
	direction: ltr;
}

body {
    line-height:1;
    font-family: Helvetica,sans-serif;
    background: #F4F4F4;
    
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

* {
    outline: none;
}

.container {
    width: 1300px;
    margin: 0 20px;
    text-align: left;
    

}

.head {
    background-color: #000;
    opacity: 0.7;
    height: 75px;
}

.head h1 {
    text-align: center;
    padding: 20px;
    font-family: 'Open Sans', arial;
    color: #fff;
    font-size: 34px;
    font-weight: 900;
}

.head h2 {
    text-align: center;
    padding:10px 20px 20px 20px;
    font-family: 'Open Sans', arial;
    font-weight: 600;
    color: #fff;
    font-size: 28px;
}

.right {
        
    float: right;
    width: 380px;
    border-radius: 5px;
    opacity: 0.7;
    margin-top: 20px;
    margin-right: 80px;
    
    
}

.sign-in {

    background-color: #000;
    margin: 0px;
    padding: 30px;
    padding-top: 15px;
    padding-bottom: 20px;

}

input[type=text],input[type=password] {
    -webkit-appearance: none;
    display: inline-block;
    height: 40px;
    margin: 15px 0;
    padding-left: 8px;
    background: #fff;
    border: 1px solid #c0c0c0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 2px;
    width: 320px;
    font-size: 16px;
    font-weight: 700;
    font-family: arial;

} 

input[type=text]:focus,input[type=password]:focus {
    background-color: white;
    border: 2px solid #1ebad6;
} 

.subtitle {
    font-weight: normal;
    font-size: 25px;
    color:#c2c2c2;
    margin-bottom: 35px;
    text-align: center;
}

.border-center span{
    background-color: #000;
    display: inline-block;
    padding: 0 20px;   
    opacity: 1;
    color: #fff;
    font-weight: bold;
}

.border-center:after {
    background: #53535c;
    content: "";
    display: block;
    height: 1px;
    margin-top: -10px;
}


.submit-btn {
    
    width: 320px;
    height: 40px;
    background-color: #eddb11;
    border-color: #e9ac1a;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    font-family: arial;
    font-weight: 700;

}

.submit-btn:hover {

    background-color: #e9ac1a;
}

.signin-body .btn {
    margin-top: 20px;
}

 .right-2 {
    
    float: right;
    width: 380px;
    margin-top: 400px;
    padding: 5px;
    margin-right: -386px;
    opacity: 0.7;   
    
}

.create {
    
    background-color: #000;
    margin: 0px;
    padding: 15px 20px 19px 30px;
    
}

.create h2{
    color: #fff;
   padding-bottom: 10px;
   font-size: 20px;
    
}

.create h3 {
    color: #fff;
    font-weight: normal;
    padding-bottom: 25px;
}

.reason{
    
    float: right;  
    padding:15px;
    width: 450px;
    border-radius: 4px;
    height: 400px;
    margin-top: -3px;
    margin-left: 30px;
    margin-right: 300px;
    

}

.reason ol {
    padding-top: 10px;
}

.reason li {
    list-style-position: inside;
    color: #555;
    padding: 5px;
    letter-spacing: 1.2px;
    line-height: 20px;
    text-indent: 5px;
    font-family: helvetica;
    font-weight: 500;
}

.reason h4 {
    color: #555;
    padding: 5px;
    line-height: 27px;
    font-size: 25px;
    font-weight: 500;
    font-family: helvetica;

}/*Search page*/

.reason h6 {
    color: #555;
    font-size: 20px;
    padding: 8px;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: normal;
}




/*User Home*/

nav  {
    display: inline-block;
    float: right;
    margin: 25px 55px 5px 15px;
    word-spacing: 10px;
    background: #000;
    padding: 10px;
    border-radius: 5px;
}

nav a,span{
    text-decoration: none;
    color: #fff;
}

#home .nav-home, #search .nav-search, #post-ad .nav-post-ad  {
    
    color: #000;
    padding: 3px 5px;
    border-radius: 3px;
    background-color: #1ebad6;
    opacity: 0.7px;
}



.sec-head  h1{
    clear: both;
    text-align: left;
    color: #000;
    width: 88.8%;
    font-size: 20px;
    margin-left: 62px;
    padding: 10px;
    opacity: 0.7;
    
}


/*Search*/

.search-block {
    clear: both;
    width: 88.75%;
    border: 1px solid #000;
    margin-top: 0px;
    margin-left: 73px;
    margin-bottom: 20px;
    background: #000;
    opacity: 0.7;
    padding: 10px;
    padding-right: 5px;
    word-spacing: 28px;
    
}

.search-form select {
    width: 200px;
    height: 25px;
    padding-left: 4px;
}

.sear-btn {
    width: 220px;
    height: 30px;
    }
/*Table*/

.wrap {
    width: 1000px;
    margin-left: 72.5px;
}

.wrap table {
    width: 1159px;
    table-layout: fixed;
}

table tr td {
    padding: 5px;
    border: 1px solid #eee;
    width: 100px;
    word-wrap: break-word;
}

table.head{
    width: 1160px;
    height: 10px;
}
table.head tr td {
    background: #000;
    text-align: center;
    color: #fff;
    border:1px solid #fff;
}

.inner_table {
    width: 1159px;
    height: 300px;
    overflow-y: auto;
    background: #fff;
    color: #000;
    text-align: center;
    opacity: 0.8;
    
}



/*post-ad*/
#post-ad .container {
    height:80px;
}


.postad-box {
    margin: 200px 280px;
    clear: both;
    width:800px;
    height:180px;
    background-color: #000;
    opacity: 0.7;
}

.postad-btn {
    padding:70px;
    word-spacing: 16px;
}



/*buy*/

.buycontainer {
    margin: 80px 400px;
    background-color: #000;
    opacity:0.7;
    height:500px;
    width:550px;
    color: #fff;
}

.buycontainer-head {
    padding: 40px;
    text-align: center;
    font-size: 20px;
}
.buycontainer-content {
    padding: 0 20px;
    width:500px;
    height:280px;
}

.buycontainer-btn {
    text-align: center;
    

}



form .breed {
    margin-left: 59px;
}

form .description{
    margin-left:106px;
    width:314px;
}

form .quantity {
    margin-left: 46px;
}

form .price {
   width:163px;
   margin-top:12px;
   margin-left: 5px; 
}

form .amount {
    width:148px;
    height:40px;
    margin-top:18px;
    margin-left: 32px
}

.buycontainer-btn{
    margin:40px;
    margin-left: 125px;
}





/*sell*/


.sell-container {
    width:520px; 
    height:580px;
    background-color: #000;
    opacity: 0.7;
    margin:80px 400px;
}

.sellcontainer-head {
    text-align: center;
    color:#fff;
    padding: 20px 0;
    font-size: 20px;
}

#sell label {
    color:#fff;
}

.photos {
    height:100px;
    padding-top: 20px;
}

.photos .formfield {
    width:320px;
    min-height:100px;
    background-color: white;
    margin-right:64px;
    float:right;
    margin-top: -16px;
    border-radius: 2px;
}

.formfield .image {
    width:60px;
    margin-top: 30px;
    margin-left: 50px;

}

.formfield .addphotos {
    width: 100px;
    height:40px;
    background-color:#ccc;
    border-radius: 5px;
    margin-left: 30px;
    margin-top: 30px;
    color:#2B8DD6;
    font-weight: bold;
}

.sellcontainer-btn:focus, .sellcontainer-btn{
    text-align: center;
    margin: 50px 0 0 71px;
    border-color: red;
}

.content {
    margin-left: 30px;
}


/*Create new account*/


.create-box {
    background-color: #000;
    opacity: 0.7;
    margin: 45px 450px;
    width: 500px;
    height:590px;
}

.create-conhead h3 {
    padding: 25px 30px;
    font-size: 20px;
    text-align: center;

}

.create-firstblock {
    margin: 0px;
    padding: 0px;
    padding-left: 90px;
}

.location {
    color:white;
    padding-left: 90px;
}

select{
    width: 320px;
    height: 40px;
    font-size: 16px;
    border-radius: 2px; 
    font-family: arial;
    font-size: 16px;
    font-weight: 700;
    margin: 8px 0;
    opacity: 0.5px;
    padding-left: 4px;

}

.location-content {
    padding-left: 90px;

}

.create-thirdblock {
    padding-left: 90px;
    padding-top: 10px;
}

.create-firstblock input[type=text],input[type=password] {
    margin: 10px 0;
    height: 35px;
}